@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-300 dark:bg-zinc-900;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-400 transition delay-150 duration-300 dark:bg-zinc-700;
  }
}

.resize-style::-webkit-resizer {
  @apply hidden;
}

.bgMesh {
  background-image: radial-gradient(at 5% 5%, #98d1ea 0, transparent 50%),
    radial-gradient(at 95% 61%, #a0d4b5 0, transparent 50%),
    radial-gradient(at 63% 3%, #e58f65 0, transparent 50%),
    radial-gradient(at 69% 81%, #da7073 0, transparent 50%),
    radial-gradient(at 44% 84%, #bceeea 0, transparent 50%),
    radial-gradient(at 45% 38%, #FD8A8A 0, transparent 50%),
    radial-gradient(at 74% 58%, #92c4d5 0, transparent 50%);
}

* {
  font-family: var(--font-space-grotesk);
}
