@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-300 dark:bg-zinc-900;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-neutral-400 transition delay-150 duration-300 dark:bg-zinc-700;
  }
}

.resize-style::-webkit-resizer {
  @apply hidden;
}

.bgMesh {
  background-image: radial-gradient(at 5% 5%, #E97777 0, transparent 50%),
    radial-gradient(at 95% 61%, #F9B572 0, transparent 50%),
    radial-gradient(at 63% 3%, #8FBDD3 0, transparent 50%),
    radial-gradient(at 69% 81%, #554994 0, transparent 50%),
    radial-gradient(at 44% 84%, #6E85B7 0, transparent 50%),
    radial-gradient(at 45% 38%, #E5E3C9 0, transparent 50%),
    radial-gradient(at 74% 58%, #FF8787 0, transparent 50%);
}
